* {
  font-size: 20px;
  font-family: Fira Code Nerd Font;
}

window {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  height: 100%;
  width: 100%;
}

#input::before {
  content: '>';
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-right: 5px;
}

#outer-box {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

#input {
  border: 0;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

#entry {
  height: 50px;
}

#entry:selected {
  background-color: rgba(100, 100, 100, 0.5);
}
