@define-color waybar-bg rgba(0,0,0,0);
@define-color button-bg rgba(25, 38, 85, 0.8);

* {
  border: none;
  border-radius: 0;
  font-size: 16px;
  min-height: 0;
  /* border: 1px solid red; */
}

#waybar {
  background: @waybar-bg;
  color: white;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 5px 0;
}

.modules-left {
  padding-left: 10px;
}

.modules-right {
  padding-right: 10px;
}

tooltip {
  background: @button-bg;
  border: 1px solid @button-bg;
}

tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  color: white;
  transition: padding 0.2s ease-out;
  border-radius: 50px;
  color: white;
  margin: 0 5px;
  padding: 0 10px;
  background: @button-bg;
}

#workspaces button.active {
  border-radius: 50px;
  color: white;
  padding: 0 20px;
  background: @button-bg;
}

#idle_inhibitor {
  border-radius: 7px 0 0 7px;
}

#idle_inhibitor,
#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#temperature,
#clock {
  padding: 1px 5px;
  background: @button-bg;
}

#clock {
  border-radius: 0 7px 7px 0;
}

#tray {
  padding: 0 10px;
  border-radius: 7px;
  background: @button-bg;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
